<div class="navbar-fixed fixed">
    <nav class="row no-margin overflow-hidden">
        <div class="nav-wrapper col l10 offset-l1 m10 offset-m1 s12">

            <ul id="nav-mobile" class="left">
                <li><a class="normal text-24 waves-effect waves-light overflow-visible">
                    <i class="material-icons">home</i>
                </a></li>
                <li><a class="normal text-24 waves-effect waves-light overflow-visible">
                    QBeacon Admin
                </a></li>
            </ul>

        </div>
    </nav>
</div>